@using Project.Models.ViewModels
@model ArticleDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title - Article by @Model.Author</h1> <h3>created on <i>@Model.CreatedOn</i></h3>
<img src="@Model.ImageUrl" width="500" height="300"/>
<hr />
<p>
    @Model.Content
</p>
@if (!Model.HasVoted)
{
    <div>
        @Html.ActionLink("Upvote", "Upvote", "Articles", new { id = Model.Id }, new
    {
        data_ajax = "true",
        data_ajax_method = "GET",
        data_ajax_mode = "replace",
        data_ajax_update = "#upvote",
        @class = "btn btn-primary upvoteButton",
        style = "width: 80px;"
    })
    </div>
} else
{
    <h3>You have already upvoted this article</h3>
}

<div>
    Upvotes: <span id="upvote">@Model.Upvotes</span>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(".upvoteButton").click(function () {
        $(".upvoteButton").hide()
    })
</script>


